section.contact-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 980px;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    @media screen and (min-width: 980px) {
        width: 100%;
    }
}

section.google-map{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 980px;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 0;
    @media screen and (min-width: 980px) {
        width: 100%;
    }

    iframe{
        width: 100%;
    }
}

section.contact{
    padding: 20px 0;

    .content-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 980px;
        width: 90%;
        margin: 0 auto;
        @media screen and (min-width: 980px) {
            width: 100%;
        }

        h1{
            font-size: 32px;
            font-weight: 500;
            line-height: 48px;
            margin-bottom: 30px;
            text-align: center;
            color: $primary-color;
            @media screen and (max-width: 700px) {
                font-size: 22px;
                line-height: 35px;
            }  
        }

        .info-wrapper{
            width: 50%;
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            p{
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                color: $primary-color;
                @media screen and (max-width: 700px) {
                    font-size: 14px;
                    line-height: 20px;
                } 

                a{
                    color: $primary-color;
                    text-decoration: none;
                }

                a:hover{
                    color: $secondary-color;
                }
            }

            span{
                width: 100%;
                display: flex;
                align-items: flex-start;

                i{
                    margin-top: 5px;
                    margin-right: 5px;
                    color: $secondary-color;
                }
            }

            .social-icons{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .icon-wrapper{
                    margin: 0 10px;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a{
                        text-decoration: none;
                        transition: all .12s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                        i{
                            color: #4d4d4d;
                            font-size: 24px;
                        }
                    }

                    a:hover{
                        transition: all .12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                        transform: scale(1.2);
                    }
                }
            }
        }

        .text-wrapper{
            width: 50%;
            display: flex;
            flex-direction: column;

            p, span{
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                color: $primary-color;
                margin-bottom: 20px;
                @media screen and (max-width: 700px) {
                    font-size: 14px;
                    line-height: 20px;
                } 
            }

            span{
                font-weight: 700;
                margin-bottom: 0;
            }

            .name-wrapper{
                width: 100%;
                display: grid;
                grid-template-columns: auto auto;

                p{
                    margin-bottom: 0;
                }
            }
        }
    }
}